!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/enyo/enyo.js')
    script(src='/javascripts/package.js')

    // script(type='text/javascript', src='/javascripts/libs/jquery.js')
    // script(src='/javascripts/app/client.js')
    
  body!= body
